<div class="container-edit">
    <tr class="marks">
        <td value="{{student.id}}">{{student.first_name}} {{student.last_name}}</td>
        <td value="{{student.id}}">{{student.Mathgrade}}</td>
        <td value="{{student.id}}">{{student.Sciencegrade}} </td>
        <td value="{{student.id}}">{{student.Historygrade}} </td>
        <td value="{{student.id}}">{{student.Geographygrade}} </td>
        <td value="{{student.id}}">{{student.Englishgrade}} </td>
    </tr>
    <button id="headingstyling" class="btn btn-primary edit-button" type="submit">
        Submit
    </button>
</div>
<script src="/js/edit.js"></script>