<h4>Enter the name of the student and the Grades</h4>

<form class="name">
  <div class="names">
    <label for="fname">Student First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Student Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
  </div>

  <div class="grades">
    <label for="math">Grade for Subject Math</label><br>
    <input type="text" id="mathGrade" name="mathGrade"><br>

    <label for="science">Grade for Subject Science</label><br>
    <input type="text" id="scienceGrade" name="scienceGrade"><br>

    <label for="history">Grade for Subject History</label><br>
    <input type="text" id="historyGrade" name="historyGrade"><br>

    <label for="geography">Grade for Subject Geography</label><br>
    <input type="text" id="geographyGrade" name="geographyGrade"><br>

    <label for="english">Grade for Subject English</label><br>
    <input type="text" id="englishGrade" name="englishGrade"><br>
  </div>

  <button class="btn" id="btn" type="submit">Submit!</button>
</form>


<div class="wrapper">


  <div class="slist">
    {{#each students as |student|}}
    <button data-id="{{student.id}}" class="delbtn" type="click">🗑️</button><br>
    {{/each}}

  </div>


</div>

  <div name="container" id="students">
    
      <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>


      <table id="example-table">
        <thead>
          <tr>
            <th width="200">Name</th>
            <th width="200">Math Grade</th>
            <th width="200">Science Grade</th>
            <th width="200">History Grade</th>
            <th width="200">Geography Grade</th>
            <th width="200">English Grade</th>
            <th width="100"></th>
             </tr>
        </thead>
        <tbody class="studentList">
          {{#each students as |student|}}
          <tr class="marks">
            <td value="{{student.id}}">{{student.first_name}} {{student.last_name}}</td>
            <td value="{{student.id}}">{{student.Mathgrade}}</td>
            <td value="{{student.id}}">{{student.Sciencegrade}} </td>
            <td value="{{student.id}}">{{student.Historygrade}} </td>
            <td value="{{student.id}}">{{student.Geographygrade}} </td>
            <td value="{{student.id}}">{{student.Englishgrade}} </td>




          </tr>
          {{/each}}
        </tbody>
        <script>
          var table = new Tabulator("#example-table", { responsiveLayout: "collapse" });
        </script>
      </table>
    
  </div>

<button id="pdfBtn">Make PDF </button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.6/pdfmake.min.js"></script>
<script>
  pdfMake.fonts = {


    Roboto: {
      normal: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Regular.ttf',
      bold: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Medium.ttf',
      italics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-Italic.ttf',
      bolditalics: 'https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/fonts/Roboto/Roboto-MediumItalic.ttf'
    },


  }
  const pdfMaker = async () => {
    const response = await fetch("/api/input", {
      method: "GET",
      headers: { 'Content-Type': 'application/json' },

    })

    let res = await response.json()
    console.log(res)
    let content = ""

    for (let i = 0; i < res.length; i++) {
      content += `${res[i].first_name} ${res[i].last_name}  :
            Math grade: ${res[i].Mathgrade} 
            Science grade: ${res[i].Sciencegrade}
            Geography grade: ${res[i].Geographygrade}
            History grade: ${res[i].Historygrade}   
            English grade: ${res[i].Englishgrade}
            
            `
    }

    var dd = {
      content: [content]


    }
    pdfMake.createPdf(dd).open()
  }

  document.querySelector("#pdfBtn").addEventListener("click", pdfMaker)
</script>










<script src="/js/newStudent.js"></script>