{{!-- <div name="students" id="students">
  {{#each students as |student|}}
  <h1 value="{{student.id}}">{{student.first_name}} {{student.last_name}}</h1>
  <h2 value="{{student.id}}">{{student.Mathgrade}} </h2>
  <h2 value="{{student.id}}">{{student.Sciencegrade}} </h2>
  <h2 value="{{student.id}}">{{student.Historygrade}} </h2>
  <h2 value="{{student.id}}">{{student.Geographygrade}} </h2>
  <h2 value="{{student.id}}">{{student.Englishgrade}} </h2>

  <button value="{{student.id}}" class="delbtn" type="click">Delete Student</button>
  <button value="{{student.id}}" class="updbtn" type="click">Update Student</button>

  {{/each}}

</div> --}}


<h4>Enter the name of the student not in the Database</h4>

<form class="name">
  <label for="fname">Student First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Student Last name:</label><br>
  <input type="text" id="lname" name="lname">

  <label for="math">Grade for Subject Math</label><br>
  <input type="text" id="mathGrade" name="mathGrade"><br>

  <label for="science">Grade for Subject Science</label><br>
  <input type="text" id="scienceGrade" name="scienceGrade"><br>

  <label for="history">Grade for Subject History</label><br>
  <input type="text" id="historyGrade" name="historyGrade"><br>

  <label for="geography">Grade for Subject Geography</label><br>
  <input type="text" id="geographyGrade" name="geographyGrade"><br>

  <label for="english">Grade for Subject English</label><br>
  <input type="text" id="englishGrade" name="englishGrade"><br>

  <button class="btn" id="btn" type="submit">Submit!</button>
</form>



<div name="conatiner" id="students">

  <table id="example-table">
    <thead>
      <tr>
        <th width="200">Name</th>
        <th>Math Grade</th>
        <th>Science Grade</th>
        <th>History Grade</th>
        <th>Geography Grade</th>
        <th>English Grade</th>
        <th> </th>
        <th> </th>


      </tr>
    </thead>
    <tbody>
      {{#each students as |student|}}
      <tr>
        <td value="{{student.id}}">{{student.first_name}} {{student.last_name}}</td>
        <td>{{student.Mathgrade}}</td>
        <td>{{student.Sciencegrade}} </td>
        <td>{{student.Historygrade}} </td>
        <td>{{student.Geographygrade}} </td>
        <td>{{student.Englishgrade}} </td>
        <td>
          <button value="{{student.id}}" class="delbtn" type="click">Delete Student</button>
        </td>
        <td>
          <button value="{{student.id}}" class="updbtn" type="click">Update Student</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>





<script src="/js/newStudent.js"></script>
<script src="/js/tabulator.js"></script>
<link href="https://unpkg.com/tabulator-tables@5.4.2/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.2/dist/js/tabulator.min.js"></script>